* {

  background-color: #101111 !important;
  color: #bb86fc !important;

}



body {
  position: relative;
  min-height: 95vh;
}

.active {
  border-bottom: 2px solid #bb86fc
}

/* --------------------------------header */




a.nav-link {
  padding: 0;
  
}

#logo {
  float: left;
  font-size: 200%;
  font-weight: bold;
  
}

#logo,
#menu {
  line-height: 75px;
}

li {
  
}

/* ---------------------------------------------- header/menu */

#menu {
  list-style-type: none;

}

#menu li {
  float: right;
  margin-right: 15px !important
}

#menu a:hover {
  border-bottom: 1px solid #777777
}

#menu a {
  text-decoration: none;
  font-family: sans-serif;
  color: #333333;
}





/* -----------------------------------------main section */


.homepage-main-section{
  margin-top: 25px;
}

@media (max-width: 767px) {
  section {
    min-height: 350px;
    padding-bottom: 20px;
  }

  .content  {
    max-height: 250px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 0px;
  }

    .content h3 {
      text-align: left;
    }
  

 

 
}




/* --------------------------------------footer */


/* @media (min-width:767px) {
  footer {
    margin-top: 10%;
  }
} */



footer {
  text-align: center;
  margin-top: 25px; 
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media (max-width: 767px) {
  footer {
    position: relative;
    margin-top: 25%;
  }
}

.my-links{
  padding: 0;
}

.my-links li a {
  text-decoration: none;
}

.my-links li {
  display: inline;
}

.my-links i {
  font-size: 160%;
  padding:0 15px 0 15px !important;
}

/* -----------------------------------------contact */

.form{
  margin: 0 auto;
  max-width: 70%;
  padding-top: 10px;
}

.contact-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
}

button[type="submit"] {
  margin-top: 25px!important;
  margin-bottom: 20px!important;
  color: #bb86fc!important;
  background-color: #333333!important;
}



@media (min-width:992px) {
  .form{
    margin: 0 auto;
    max-width: 50%;
    padding-top: 30px;
    min-height: 240px;
    border: 2px #bb86fc;
  }
}