*{
   
    background-color: #101111!important;
    color: #bb86fc!important;

  }

  

  body{
    position: relative;
    min-height: 100vh;
  }

  .active{
    border-bottom: 1px solid #777777
}

  /* --------------------------------header */

 
  

  a.nav-link{
    padding: 0;
    color: #bb86fc;
  }
 
#logo {
    float: left;
    font-size: 200%;
    font-weight: bold;
    color: #bb86fc;
}  

#logo, #menu{
    line-height: 75px;
  }
  li {
    color: #bb86fc;
  }

/* ---------------------------------------------- header/menu */

 #menu{
    list-style-type: none;
    
 } 
  
  #menu li{
    float: right;
    margin-right:15px!important
  }

  #menu a:hover{
    border-bottom: 1px solid #777777
  }
  
  #menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: #333333;
  }
  
  #menu a:hover{
    border-bottom: 1px solid #777777
  }
  
 
  
  /* -----------------------------------------main section */
  @media (max-width:767px){
   section {
    min-height: 350px;}
  }
  
  @media (max-width: 767px) {
    .content {
    max-height: 250px;
    text-align: center;
    margin-bottom: 20px;
  }

  .main{
    margin-bottom: 150px;
  }

  @media (max-width: 765px) {
    .main{
      margin-bottom: 160px;
    }
  }
}



 
/* --------------------------------------footer */

footer{
  position: relative;
  bottom:0;
}

@media (min-width:767px){
  footer{
    margin-top: 10%;
  }
}



  .my-links{
    text-align: center;    
  }

  .my-links li a {
    text-decoration: none;
  }
  
   .my-links li{
    display: inline;
  } 

  .my-links i{
    font-size: 160%;
    padding-right: 15px!important;
  } 


  
